
/* SEARCH DO SITE (COLOQUEI EM INGLÊS POIS USEI DE UM SITE DE BASE) */

/* TAMANDO DO HOVER DO SITE */
@media screen and (min-width: 400px){
  
  .search-box:hover .search-box-input {
      width: 360px;
  }
}
#header a:hover{

  filter: opacity(65%);

}


/* FONT FAMILY GERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* :root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
} */

/* RESET CONFIGURAÇÕES PÁGINA */
*{
    margin: 0;
    padding:0;
    font-family: 'Staatliches', sans-serif;
    color: #fff;

}

/* CONTAINER DA PRIMEIRA METADE DA TELA */
#container_primario{
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;
    height: 500px;
    gap:50px;
}
/* SECTION COLUNA SIDE */
#coluna_side{
    display: flex;
    flex-direction: column;
    gap:30px;
    height:400px;
    width: 150px;
    margin-bottom:75px;
}

/* IMAGEM DOS ANGULOS DAS CHUTEIRAS */
.div_side{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: row;
}

/* IMAGEM DOS ANGULOS DAS CHUTEIRAS */
.img_side{
    height:100%;
    width:100%;
    transition: 0.7s;
}

.img_side:hover{
  transform: scale(110%);
  transition: 0.7s;
}

/* DIV COM IMAGEM PRINCIPAL */
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height:400px;
    width:550px;
}

/* IMAGEM PRINCIPAL */
.div_img_principal{
    height:100%;
    width:100%;
}

#img_principal{
    height: auto;
    width: 80%;
    transition: 0.7s;
}

#img_principal:hover{
  transform:scale(90%);
  transition: 0.7s;
}

/* DIV INPUTS DE TAMANHO E QUANTIA */
.inputs{
    display: flex;
    justify-content: center;
    gap:70px;
    float: left;
}

/* CONFIG TAMANHO */
#tamanho{
    height: 30px;
    width:150px;

}
/* PLACEHOLDER E ESCRITA DA QUANTIA */
#quantidade{
    display: flex;
    align-items: center;
    width: 150px;
    color: #acacac; 
}
#quanti{
    background-color: #232323;
    color: #fff;
    
}
#quanti::placeholder {
    color: #a8a29e;
    
}

.texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* TEXTO DE INFORMAÇÕES SOBRE O PRODUTO PRINCIPAL */
.nome_produto{
    font-weight: bold;
    font-size: 35px;
}

/* DESCONTO */
.desconto{
    margin-left: 40px;

}

/* PREÇO */
.preco{
    font-weight: bolder;
    font-size: 50px; 
}

/* SEM JUROS */
.sem_juros{
    color: var(--color-neutral-30);
    font-weight: bold;

}


/* CONTAINER CEP ENVIAR */
.cep_enviar{
    display: flex;
    gap:50px;
}

/* TEXTO CEP */
.texto_cep{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size:16px;

}
/* CEP */
#cep{
    padding-left: 5px;
    height:40px;
    width: 150px;

}

/* ENVIAR */
#enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bolder;
    font-size:19px;
    height:45px;
    width:120px;
    margin-top:22px;
    transition: 0.5s;
}

#enviar:hover{
  background-color: #D92020;
  transition: 0.5s;
}
/* DIVISÃO DE TELA */
.meia_tela{
    width:84vw;
    margin: auto;
}

/* TITULO SECUNDARIO */
#titulo_secundario{
    font-weight: bolder;
    font-size:45px;
    margin: auto;
    text-align: center;
}

/* CONTAINER GERAL SECUNDÁRIO DAS CHUTEIRAS EM OFERTA */
.secundaria{
    display: flex;
    justify-content: center;
    gap:100px;
    padding:100px;
    
}

/* PRODUTOS */
.produto{
    font-weight: 700;
    border: 1 px solid black;
    height: 500px;
    width: 340px;
    text-align: justify;
}

/* IMAGEM DAS OFERTAS SECUNDÁRIAS */
.produto img{
    width:100%;
    transition: 0.7s;
}

.produto img:hover{
  transform: scale(110%);
  transition: 0.7s;
}


.preco_secundario{
    text-align: center;
    font-size: 24px;
}
