/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
}

.top-bar a img {
    width: 20px;
}

.cart-icon i {
    font-size: 24px; /* Ajustando o tamanho do ícone de carrinho */
    color: #ef7216;  /* Cor do ícone */
}

.back-arrow i {
    font-size: 24px; /* Ajuste o tamanho da seta */
    color: #ef7216; /* Cor da seta */
    margin-left: 5px; /* Espaço entre a imagem e a seta */
}

.product-page {
    text-align: center;
    padding: 20px;
}

.product-category span {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.product-title {
    font-size: 36px;
    margin: 10px 0;
}

.product-size {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.product-image img {
    width: 200px;
}

.product-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.product-price {
    font-size: 30px;
    color: #f5a623;
    font-weight: bold;
    margin-right: 20px;
}

.add-button {
    background-color: #c5111b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none; /* Removendo o sublinhado */
}

/* Estilo do Rodapé */
footer {
    background-color: #171819; /* Cor de fundo preta */
    color: white;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
}

footer .container {
    padding: 0 15px;
}

footer .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .col-md-4 {
    margin-bottom: 20px;
    margin-top: 30px;
}

footer img {
    height: 200px; /* Ajusta a altura da imagem do logo */
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #ef7216; /* Efeito hover nos ícones sociais */
}

/* Estilo dos títulos no rodapé */
footer h5 {
    margin-bottom: 15px;
    color: #ef7216; /* Cor laranja para os títulos */
}

footer p {
    margin-bottom: 10px;
}

/* Estilo das redes sociais */
footer .social-media a {
    margin: 0 5px;
    font-size: 18px;
}

.mb-3, .my-3 {
    margin-top: -30px;
}
