/* Fundo Preto */
.black-background {
    background-color: #000;
    height: 450px;
}

/* Estilo do Cabeçalho */
header {
    background-color: #000000;
}

.bg-gray {
    background-color: #000000;
}

.text-dark {
    color: #212529;
}

/* Estilo da Barra de Pesquisa */
.search-bar {
    background-color: #000000;
}

.input-group-text {
    background-color: #343a40;
    color: #ffffff;
}

/* Estilo do Carrossel de Produtos */
.carousel-inner img {
    max-height: 200px;
    object-fit: cover;
}

/* Estilo dos Botões de Filtro */
.product-filters .btn {
    border-radius: 20px;
}

.btn-filter {
    color: #53398a; /* Texto roxo */
    background-color: #fff; /* Fundo branco */
    border-color: #4B2995; /* Borda roxa */
}

.btn-filter:hover {
    color: #fff; /* Texto branco no hover */
    background-color: #4B2995; /* Fundo roxo no hover */
    border-color: #4B2995; /* Borda roxa no hover */
}

.btn-filter:focus, .btn-filter:active {
    color: #fff; /* Texto branco ao focar ou clicar */
    background-color: #ffffff; /* Fundo roxo ao focar ou clicar */
    border-color: #513f79; /* Borda roxa ao focar ou clicar */
    box-shadow: none; /* Remove sombra padrão */
}

/* Estilo das Cartas de Produtos */
.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

/* Estilo do Rodapé */
footer {
    background-color: #171819; /* Cor de fundo preta */
    width: 100%; /* Garante que o rodapé ocupe toda a largura */
    position: relative; /* Posiciona o rodapé relativo ao seu contêiner */
    bottom: 0; /* Garante que o rodapé fique na parte inferior da página */
}

footer .container {
    padding: 0 15px; /* Ajuste o padding conforme necessário */
}

footer .row {
    margin-left: 0;
    margin-right: 0;
}

footer .col-md-4 {
    margin-bottom: 20px; /* Adiciona espaço entre as colunas se necessário */
}

footer img {
    height: 200px; /* Ajusta a altura da imagem do logo */
}